body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
}

.help {
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 80px;

}

.top-banner {
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

p {
    text-align: center;
    color: darkgray;
    font-size: 20px;
}

.anchor-button {
    background: linear-gradient(lightsalmon, red);
    padding: 18px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    margin-left: 600px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

span {
    padding: 40px 40px;
    font-weight: 800;
    background-color: lightgray;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
}

#second {
    color: lightblue;
    background-color: antiquewhite;
    border-color: brown;
    border-style: solid;

}